@import "./utils/variables";
@import "./base/base";
@import "./base/typography";
@import "./components/loader";
@import "./utils/mixins";
@import "./components/buttons";


header {
    margin: 0 0 5px 0;
    padding: 20px;
    box-shadow: 0px 5px 5px #999;
    background-color: $color-white;
}

.exploration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 40px 30px;
    background-color: $bg-color-secondary;
}

.fonctionnement,
.list__restaurants {
    padding: 20px;
}

header h1 {
    font-family: 'Shrikhand', cursive;
    color: black;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
}

.location {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #E5E5E5;
    text-align: center;
    padding: 10px 0px;
}

footer {
    background-color: #232323;
    color: #fff;
    font-family: Roboto;
    padding: 20px;
}

footer h1 {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Shrikhand', cursive;
}