footer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: #282828;
    color: #fff;
    font-family: Roboto;
    padding: 20px;
    font-weight: 400;

    a {
        text-decoration: none;
        color: $color-white;
    }
}

footer h1 {
    font-family: "Shrikhand", cursive;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer .fa-solid {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
    font-size: 0.9rem;
}