// boutons des sections "exploration", "fonctionnement" de l'index.html, et "commander" des pages menus.html
.btn {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 290px;
    @include border;
    @include btn-shadow;
    color: $color-white;
    font-size: 1.1rem;
    background: linear-gradient(-10deg, $color-primary, $color-secondary);
    cursor: pointer;
    transition: all 400ms;

    &:hover {
        background: linear-gradient(-10deg, lighten($color-primary, 3%)0%,
                lighten($color-secondary, 2%)100%,
            );
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    }

    //boutons section "fonctionnement"
    &__choix {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        background-color: $bg-color-secondary;
        border-radius: 20px;
        width: 100%;
        height: 80px;
        @include btn-shadow;
        border: 0px solid $bg-color-secondary;
        padding: 20px 5px;
        position: relative;
        font-size: 1.2rem;

        &:hover {
            background-color: lighten($color-primary, 35%);
            transition: all 300ms ease-in-out;
        }

        &:hover .fa-solid {
            color: lighten($color-primary, 0%);
            transition: all 300ms;
        }

        &__txt {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .fa-solid {
                display: inline-block;
                color: $color-grey;
                margin: 0 15px 0px 25px;
            }

        }
    }

    &__purple-dot {
        display: inline-block;
        background-color: $color-primary;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: $color-white;
        line-height: 25px;
        position: absolute;
        left: -12.5px;
        bottom: 33%;
        font-size: 1.1rem;
        padding: 0 5px;
        text-align: center;
    }
}

// boutons sous-menu avec animation (cf. _keyframes.scss)
.choice {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    background-color: $color-white;
    border-radius: 15px;
    padding: 10px 20px;
    @include btn-shadow;
    opacity: 0.2;
    transform: translateY(10px);
    animation: appear-y $anim-dur forwards;

    @for $i from 1 through $num-choices {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }

    &:hover .choice__price {
        animation: anim-price 600ms forwards;
    }

    &:hover .choice__check {
        animation: anim-check 600ms forwards;
    }

    &:hover .fa-circle-check {
        transform: rotate(360deg);
    }

    &:hover .choice__item {
        margin-right: 100px;
    }


    &__item {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 90%;
        transition: all 600ms;


        h3 {
            font-size: 1rem;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }


    }

    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 400;
        background-color: white;
        position: absolute;
        right: 0px;
        height: 100%;
        width: 10%;
        top: 0;
        padding: 10px;
        margin-left: 10px;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        transform: translateX(0);

    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80px;
        height: 100%;
        right: 0;
        top: 0px;
        border-radius: 0 15px 15px 0;
        background-color: $color-tertiary;
        transform: translateX(80px);

        .fa-circle-check {
            color: $color-white;
            font-size: 1.5rem;
            transition: all 600ms;
        }

    }
}