// boutons "exploration" et "fonctionnement" de la home, et "commande" des pages restos
.btn {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 290px;
    @include border;
    @include btn-shadow;
    color: $color-white;
    font-size: 1.3rem;
    background: linear-gradient(-10deg, $color-primary, $color-secondary);
    cursor: pointer;
    transition: all 400ms;

    &:hover {
        background: linear-gradient(-10deg, lighten($color-primary, 3%)0%,
                lighten($color-secondary, 2%)100%,
            );
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    }

    //boutons section "fonctionnement"
    &__choix {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        background-color: $bg-color-secondary;
        border-radius: 20px;
        width: 100%;
        height: 80px;
        @include btn-shadow;
        border: 0px solid $bg-color-secondary;
        padding: 20px 5px;
        position: relative;
        font-size: 1.2rem;

        &:hover {
            background-color: lighten($color-primary, 35%);
            transition: all 300ms ease-in-out;
        }

        &:hover .fa-solid {
            color: lighten($color-primary, 0%);
            transition: all 300ms;
        }

        &__txt {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .fa-solid {
                display: inline-block;
                color: $color-grey;
                margin: 0 15px 0px 25px;
            }

        }
    }

    &__purple-dot {
        display: inline-block;
        background-color: $color-primary;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: $color-white;
        line-height: 25px;
        position: absolute;
        left: -12.5px;
        bottom: 33%;
        font-size: 1.1rem;
        padding: 0 5px;
        text-align: center;
    }
}