*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: $color-white;
    max-width: 992px;
    margin: 0 auto !important;
    flex-direction: column;
    justify-content: center;

}