.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    background-color: $bg-color-secondary;

    h2 {
        transition: all 500ms;
        cursor: pointer;

        &:active {
            transform: translateX(50px);
        }
    }

    span {
        padding-bottom: 3px;
        border-bottom: 3px solid $color-tertiary;
    }
}

// container du bouton "commander"
.commande {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    width: 100%;
    padding: 30px 30px;
    background-color: $bg-color-secondary;

    .btn {
        max-width: 200px;
    }
}