.header-menu {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0;

    a {
        display: inline-block;
        position: absolute;
        left: 20px;
        color: $color-main;
        font-size: 1.4rem;
    }
}

.header-restaurant {
    background-image: url(../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    @include header-restaurant;

    &__2 {
        background-image: url(../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        @include header-restaurant;
    }

    &__3 {
        background-image: url(../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        @include header-restaurant;
    }

    &__4 {
        background-image: url(../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        @include header-restaurant;
    }

}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    background-color: $bg-color-secondary;

    h2 {
        transition: all 500ms;
        cursor: pointer;

        &:hover {
            transform: translateX(50px);
        }
    }

    span {
        padding-bottom: 3px;
        border-bottom: 3px solid $color-tertiary;
    }
}

.choice {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    background-color: $color-white;
    border-radius: 15px;
    padding: 10px 20px;
    @include btn-shadow;
    opacity: 0.3;
    animation: appear-y $anim-dur forwards;

    @for $i from 1 through $num-choices {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }

    &:hover .choice__price {
        animation: anim-price 600ms forwards;
    }

    &:hover .choice__check {

        animation: anim-check 600ms forwards;
    }

    &:hover .fa-circle-check {
        transform: rotate(360deg);
    }

    &:hover .choice__item {
        margin-right: 100px;
    }


    &__item {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 90%;
        transition: all 600ms;


        h3 {
            font-size: 1rem;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }


    }

    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 400;
        background-color: white;
        position: absolute;
        right: 0px;
        height: 100%;
        width: 10%;
        top: 0;
        padding: 10px;
        margin-left: 10px;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        transform: translateX(0);

    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80px;
        height: 100%;
        right: 0;
        top: 0px;
        border-radius: 0 15px 15px 0;
        background-color: $color-tertiary;
        transform: translateX(80px);

        .fa-circle-check {
            color: $color-white;
            font-size: 1.5rem;
            transition: all 600ms;
        }

    }
}

.commande {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    width: 100%;
    padding: 30px 30px;
    background-color: $bg-color-secondary;
}

//bouton commande = au bouton d'accueil
.btn {
    min-width: 200px;
}

//design tablette >767.98px
@media screen and (min-width:765.98px) {
    .menus-restaurants {
        display: grid;
        background-color: $bg-color-secondary;
        grid-template-columns: 48% 48%;
        align-items: baseline;
        justify-content: space-around;
    }

    .header-restaurant {
        height: 390px;

        &__1 {
            height: 390px;
        }

        &__2 {
            height: 390px;
        }

        &__3 {
            height: 390px;
        }

        &__4 {
            height: 390px;
        }

    }

}

//design desktop >1023.98px
@media screen and (min-width:1023.98px) {
    .menus-restaurants {
        display: grid;
        background-color: $bg-color-secondary;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-around;
    }

    .header-restaurant {
        height: 500px;

        &__1 {
            height: 500px;
        }

        &__2 {
            height: 500px;
        }

        &__3 {
            height: 500px;
        }

        &__4 {
            height: 500px;
        }
    }

    .commande .btn {
        margin: 0 auto;
    }
}