//design tablette >768px
@media screen and (min-width:768px) {
    // Design tablette de l'index.html

    .btns {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 20px;
        justify-content: space-around;
    }

    .restaurants__cards {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-around;
    }

    // desgin tablette du menu
    .menus-restaurants {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        background-color: $bg-color-secondary;
    }

    .header-restaurant {
        height: 350px;

        &__2 {
            height: 350px;
        }

        &__3 {
            height: 350px;
        }

        &__4 {
            height: 350px;
        }
    }

}

//design desktop >1024px
@media screen and (min-width:1024px) {


    .explo-fonctionnement {
        display: grid;
        grid-template-columns: 60% 40%;
        justify-content: center;
        background-color: $bg-color-secondary;
    }

    .exploration,
    .fonctionnement {
        margin-top: 20px;
        padding: 50px 50px;
        justify-content: flex-start;
        text-align: left;
    }

    .btns {
        display: flex;
        flex-direction: column;
    }

    .btn {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        max-width: 520px;
    }

    .btn__choix {
        background-color: $color-white;
    }

    .restaurants__cards {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        justify-content: space-between;
    }

    // .restaurants {
    //     padding: 20px 20px;
    // }

    // footer {
    //     padding: 20px 20px;
    // }

    .menus-restaurants {
        display: grid;
        background-color: $bg-color-secondary;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-around;
    }

    .header-restaurant {
        height: 400px;

        &__2 {
            height: 400px;
        }

        &__3 {
            height: 400px;
        }

        &__4 {
            height: 400px;
        }
    }

    .commande .btn {
        margin: 0 auto;
    }
}