$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99e2d0;
$color-accent: #D6FFF5;
$color-white: #fff;
$color-invalid: #DB464B;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;