$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99e2d0;
$color-white: #fff;
$color-main: black;
$color-grey: #848484;
$bg-color-secondary: #F5F5F5;
$font-primary: Shrikhand, recursive;
$font-secondary: Roboto, sans-serif;